Welcome, <%= current_user.name %>! <%= link_to('Log out', 'session', method: :delete) %>

<div id="updates" data-current-user="<%= current_user.name %>"></div>
<div id="typing"></div>

<p>
  <label>receiver</label>
  <select id="receivers" name="receiver">
    <option>all</option>
  </select>
</p>

<p>
  <textarea id="content" name="content" rows="8" cols="80"></textarea>
</p>

<p>
  <button id="send">Send</button>
</p>

<% content_for :tail_javascript do %>
  <%= javascript_include_tag 'messages' %>
<% end %>
